aiocontextvars==0.2.2
alabaster==0.7.12
Babel==2.9.0
backpack==0.1
blinker==1.4
certifi==2020.11.8
cffi==1.14.4
chardet==3.0.4
cleo==0.6.8
click==7.1.2
clikit==0.2.4
contextvars==2.4
cryptography==3.2.1
defusedxml==0.6.0
docutils==0.16
elasticsearch==7.9.1
Faker==0.8.18
Flask==1.1.2
Flask-Cors==3.0.9
flask-orator==0.2.0
flask-redis==0.4.0
Flask-Sockets==0.2.1
gevent==20.9.0
gevent-websocket==0.10.1
greenlet==0.4.17
gunicorn==20.0.4
idna==2.10
imagesize==1.2.0
immutables==0.14
inflection==0.3.1
itsdangerous==1.1.0
Jinja2==2.11.2
jira==2.0.0
lazy-object-proxy==1.4.2
loguru==0.5.3
MarkupSafe==1.1.1
mysqlclient==2.0.1
oauthlib==3.1.0
orator==0.9.9
OTXv2==1.5.10
packaging==20.7
pastel==0.1.1
pbr==5.5.1
pendulum==1.5.1
pyaml==16.12.2
pycparser==2.20
Pygments==2.7.2
PyJWT==1.7.1
pylev==1.3.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-nmap==0.6.1
python3-nmap==1.4.8
pytz==2020.4
pytzdata==2020.1
PyYAML==5.3.1
redis==3.5.3
requests==2.24.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
simplejson==3.17.2
six==1.15.0
snowballstemmer==2.0.0
Sphinx==3.3.1
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
supervisor==4.2.1
text-unidecode==1.2
tzlocal==1.5.1
urllib3==1.25.11
Werkzeug==1.0.1
wrapt==1.12.1
zope.event==4.5.0
zope.interface==5.2.0
